# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_tflow_select=2.3.0=mkl
absl-py=0.10.0=py37hc8dfbb8_1
acoufe=0.1=dev_0
aiohttp=3.7.2=py37h8f50634_0
appdirs=1.4.4=pypi_0
astor=0.8.1=pypi_0
async-timeout=3.0.1=py_1000
attrs=20.2.0=pyh9f0ad1d_0
audioread=2.1.9=pypi_0
blas=1.0=openblas
blinker=1.4=py_1
brotlipy=0.7.0=py37hb5d75c8_1001
c-ares=1.16.1=h516909a_3
ca-certificates=2020.10.14=0
cached-property=1.5.2=pypi_0
cachetools=4.1.1=py_0
certifi=2020.6.20=pyhd3eb1b0_3
cffi=1.14.3=py37he30daa8_0
chardet=3.0.4=py37he5f6b98_1008
click=7.1.2=pyh9f0ad1d_0
colorama=0.4.4=pypi_0
cryptography=3.2.1=py37hc72a4ac_0
cycler=0.10.0=pypi_0
cython=0.29.21=pypi_0
dataclasses=0.6=pypi_0
decorator=4.4.2=pypi_0
docopt=0.6.2=pypi_0
einops=0.3.0=pypi_0
fsspec=0.8.4=pypi_0
future=0.18.2=pypi_0
gast=0.2.2=pypi_0
gitdb=4.0.5=pypi_0
gitpython=3.1.11=pypi_0
google-auth=1.23.0=pyhd8ed1ab_0
google-auth-oauthlib=0.4.1=py_2
google-pasta=0.2.0=py_0
grpcio=1.33.2=py37haffed2e_2
h5py=3.0.0=pypi_0
hdf5=1.10.6=hb1b8bf9_0
idna=2.10=pyh9f0ad1d_0
importlib-metadata=2.0.0=py_1
joblib=0.17.0=pypi_0
jsonpickle=0.9.6=pypi_0
keras-applications=1.0.8=py_1
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.3.1=pypi_0
ld_impl_linux-64=2.33.1=h53a641e_7
libblas=3.9.0=2_openblas
libcblas=3.9.0=2_openblas
libedit=3.1.20191231=h14c3975_1
libffi=3.3=he6710b0_2
libgcc-ng=9.1.0=hdf63c60_0
libgfortran-ng=7.5.0=hae1eefd_17
libgfortran4=7.5.0=hae1eefd_17
liblapack=3.9.0=2_openblas
libopenblas=0.3.12=pthreads_hb3c22a3_1
libprotobuf=3.13.0.1=h8b12597_0
librosa=0.8.0=pypi_0
libstdcxx-ng=9.1.0=hdf63c60_0
llvmlite=0.34.0=pypi_0
markdown=3.3.3=pyh9f0ad1d_0
matplotlib=3.3.2=pypi_0
mir-eval=0.6=pypi_0
multidict=4.7.5=py37h8f50634_2
munch=2.5.0=pypi_0
ncurses=6.2=he6710b0_1
numba=0.51.2=pypi_0
numpy=1.19.4=pypi_0
oauthlib=3.0.1=py_0
openssl=1.1.1h=h7b6447c_0
opt-einsum=3.3.0=pypi_0
opt_einsum=3.1.0=py_0
packaging=20.4=pypi_0
pandas=1.1.4=pypi_0
pb-bss-eval=0.0.2=pypi_0
pesq=0.0.1=pypi_0
pillow=8.0.1=pypi_0
pip=20.2.4=py37_0
pooch=1.2.0=pypi_0
protobuf=3.13.0.1=py37h3340039_1
py-cpuinfo=7.0.0=pypi_0
pyasn1=0.4.8=py_0
pyasn1-modules=0.2.7=py_0
pycparser=2.20=pyh9f0ad1d_2
pyjwt=1.7.1=py_0
pyopenssl=19.1.0=py_1
pyparsing=2.4.7=pypi_0
pysocks=1.7.1=py37he5f6b98_2
pysptk=0.1.18=pypi_0
pystoi=0.3.3=pypi_0
python=3.7.9=h7579374_0
python-dateutil=2.8.1=pypi_0
python_abi=3.7=1_cp37m
pytorch-lightning=0.9.0=pypi_0
pytorch-ranger=0.1.1=pypi_0
pytz=2020.4=pypi_0
pyworld=0.2.12=pypi_0
pyyaml=5.3.1=pypi_0
readline=8.0=h7b6447c_0
requests=2.24.0=pyh9f0ad1d_0
requests-oauthlib=1.3.0=pyh9f0ad1d_0
resampy=0.2.2=pypi_0
resemblyzer=0.1.1.dev0=pypi_0
rsa=4.6=pyh9f0ad1d_0
sacred=0.7.3=pypi_0
scikit-learn=0.23.2=pypi_0
scipy=1.5.3=pypi_0
seaborn=0.11.0=pypi_0
setuptools=50.3.0=py37hb0f4dca_1
six=1.15.0=pyh9f0ad1d_0
smmap=3.0.4=pypi_0
soundfile=0.10.3.post1=pypi_0
sqlite=3.33.0=h62c20be_0
tensorboard=1.14.0=pypi_0
tensorboard-plugin-wit=1.7.0=pyh9f0ad1d_0
tensorboardx=2.1=pypi_0
tensorflow=1.15.0=mkl_py37h28c19af_0
tensorflow-base=1.15.0=mkl_py37he1670d9_0
tensorflow-estimator=1.14.0=pypi_0
termcolor=1.1.0=pypi_0
threadpoolctl=2.1.0=pypi_0
tk=8.6.10=hbc83047_0
torch=1.7.0+cu101=pypi_0
torch-optimizer=0.0.1a16=pypi_0
torch-stoi=0.0.1=pypi_0
torchaudio=0.7.0=pypi_0
torchvision=0.8.1+cu101=pypi_0
tqdm=4.51.0=pypi_0
typing=3.7.4.3=pypi_0
typing-extensions=3.7.4.3=0
typing_extensions=3.7.4.3=py_0
urllib3=1.25.11=py_0
vamp=1.1.0=pypi_0
webencodings=0.5.1=py37_1
webrtcvad=2.0.10=pypi_0
werkzeug=0.16.1=py_0
wheel=0.35.1=py_0
wrapt=1.12.1=py37h7b6447c_1
xz=5.2.5=h7b6447c_0
yarl=1.6.2=py37h8f50634_0
zipp=3.4.0=py_0
zlib=1.2.11=h7b6447c_3
